openapi: 3.2.0
info:
  title: WatchGuard Endpoint Security Management Licenses API
  description: The WatchGuard Endpoint Security Management API provides RESTful access to WatchGuard Endpoint Security (WES) features including device management, security events, risk assessment, configuration management, and license information. All endpoints require OAuth 2.0 bearer authentication and the WatchGuard-API-Key header.
  version: v1
  contact:
    name: WatchGuard Support
    url: https://www.watchguard.com/help/docs/API/Content/en-US/endpoint_security/WES_endpoint_security/v1/WES_endpoint_security.html
servers:
- url: https://api.usa.cloud.watchguard.com/rest/endpoint-security/management/api/v1
  description: USA Region
- url: https://api.eu.cloud.watchguard.com/rest/endpoint-security/management/api/v1
  description: EU Region
tags:
- name: Licenses
  description: Retrieve endpoint security license information.
paths:
  /accounts/{accountId}/licenses:
    get:
      operationId: getLicenses
      summary: Get Licenses
      description: Retrieve endpoint security license information for the account.
      tags:
      - Licenses
      parameters:
      - $ref: '#/components/parameters/AccountId'
      security:
      - bearerAuth: []
        apiKeyAuth: []
      responses:
        '200':
          description: License information.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    AccountId:
      name: accountId
      in: path
      required: true
      description: WatchGuard Cloud account ID.
      schema:
        type: string
  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
  responses:
    Unauthorized:
      description: Unauthorized — invalid or expired access token or API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token from the WatchGuard Authentication API.
    apiKeyAuth:
      type: apiKey
      in: header
      name: WatchGuard-API-Key
      description: API key from the WatchGuard Cloud Managed Access page.
