openapi: 3.2.0
info:
  title: WatchGuard Endpoint Security Management Risk Assessment API
  description: The WatchGuard Endpoint Security Management API provides RESTful access to WatchGuard Endpoint Security (WES) features including device management, security events, risk assessment, configuration management, and license information. All endpoints require OAuth 2.0 bearer authentication and the WatchGuard-API-Key header.
  version: v1
  contact:
    name: WatchGuard Support
    url: https://www.watchguard.com/help/docs/API/Content/en-US/endpoint_security/WES_endpoint_security/v1/WES_endpoint_security.html
servers:
- url: https://api.usa.cloud.watchguard.com/rest/endpoint-security/management/api/v1
  description: USA Region
- url: https://api.eu.cloud.watchguard.com/rest/endpoint-security/management/api/v1
  description: EU Region
tags:
- name: Risk Assessment
  description: Retrieve risk assessment summaries and detected risks.
paths:
  /accounts/{accountId}/riskassessment/companyrisksummary:
    get:
      operationId: getCompanyRiskSummary
      summary: Get Company Risk Summary
      description: Retrieve company-wide risk summary categorized by severity level.
      tags:
      - Risk Assessment
      parameters:
      - $ref: '#/components/parameters/AccountId'
      security:
      - bearerAuth: []
        apiKeyAuth: []
      responses:
        '200':
          description: Company risk summary.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /accounts/{accountId}/riskassessment/detectedrisks:
    get:
      operationId: getDetectedRisks
      summary: Get Detected Risks
      description: Retrieve detected risk counts by type, with optional filtering by device type and operating system.
      tags:
      - Risk Assessment
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - name: $filter
        in: query
        description: OData filter expression supporting device type and OS filtering.
        schema:
          type: string
      security:
      - bearerAuth: []
        apiKeyAuth: []
      responses:
        '200':
          description: Detected risks.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    AccountId:
      name: accountId
      in: path
      required: true
      description: WatchGuard Cloud account ID.
      schema:
        type: string
  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
  responses:
    Unauthorized:
      description: Unauthorized — invalid or expired access token or API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token from the WatchGuard Authentication API.
    apiKeyAuth:
      type: apiKey
      in: header
      name: WatchGuard-API-Key
      description: API key from the WatchGuard Cloud Managed Access page.
